integrations:
- name: nri-rabbitmq
  env:
    HOSTNAME: <hostname or IP of RabbitMQ host>
    PORT: <management UI port>

    USERNAME: <management UI username>
    PASSWORD: <management UI password>

    MANAGEMENT_PATH_PREFIX: <rabbitmq management path prefix>

    USE_SSL: <bool>

    CA_BUNDLE_DIR: <ca bundle directory>
    CA_BUNDLE_FILE: <ca bundle file>

    CONFIG_PATH: </path/to/config/file/rabbitmq.conf>

    NODE_NAME_OVERRIDE: <local node name>

    EXCHANGES: <json array of exchange names to collect>
    EXCHANGES_REGEXES: <json array of regexes, matching exchange names will be collected>

    QUEUES: <json array of queue names to collect>
    QUEUES_REGEXES: <json array of regexes, matching queue names will be collected>

    VHOSTS: <json array of vhost names to collect>
    VHOSTS_REGEXES: <json array of regexes, entities assigned to vhosts matching a regex will be collected>

  interval: 15s
  labels:
    env: production
    role: rabbitmq
  inventory_source: config/rabbitmq
